    

<div id="mapScripts"></div>
<!-- form -->
<form [formGroup]="profileForm">
  

  <div class="form-group">
    <label for="targets">Select a target: </label>
       
    <select id="targets" class="form-control" formControlName="target" (change)="selectTarget()" >
      <option value="">Select...</option>
      <option *ngFor="let t of targets" >{{ t.domain }}</option>
    </select>
  </div>

  <!--<label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  -->

</form>

<div *ngIf="selectedTarget">
     <div>Using borrowed GoogleMaps Credit card Key: <div>{{selectedTarget.key}}</div></div>

    <button (click)="loadMap()">Load Map</button> &nbsp; 
    <button (click)="mapLoop()">Loop Map </button>
	<div>
    <div *ngIf="selectedTarget">
      <div>Load Count: {{selectedTarget.loadCount}}</div>
      <div>Search Count: {{selectedTarget.searchCount}}</div>
      <div>Street Count: {{selectedTarget.streetCount}}</div>
    </div>
    <!--<p>
      <label for="repeat">Repeat</label> 
      <input id="repeat" type="text" value="1000">
      <i>?</i>
    </p>-->

  <!--
    <iframe id="steriaMap" src="https://www.ukvcas.co.uk/locations"></iframe>
    -->


</div>

<div>
  <div style="height:300px; width:450px; border: 2px solid red" id="map2">Waiting...</div>
</div>
<!--
<div id="staticMap">
  <h2>Static Map using Secret Key</h2>
  <img src="https://maps.googleapis.com/maps/api/staticmap?{{ staticMapString }}">
</div>
-->
