    

<div id="mapScripts"></div>

<!-- form -->
<form [formGroup]="form">
  
  <div class="form-group">
    <div class="form-row">
      <div class="col-sm-5 my-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <label  class="input-group-text" for="targets">Targets</label>
          </div>
          <select id="targets" class="form-control" formControlName="target" (change)="selectTarget()" >
            <option value="">Select...</option>
            <option *ngFor="let t of targets">{{ t.domain }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTarget">
    <div class="input-group">
      <div class="input-group-prepend">
        <label  class="input-group-text" for="target-key">CC key</label>
      </div>
      <input type="text" id="target-key" class="form-control" formControlName="key">
    </div>
  </div>

</form>
<!-- 
<div *ngFor="let m of lastMessages()">{{m.title}} : {{m.text}}</div>
-->
<div>Log {{logMsg}}</div>


<div *ngIf="selectedTarget">


  <button class="btn btn-primary" (click)="loadMap(); showHide.map = !showHide.map">Load Map</button>
    &nbsp; &nbsp; 
  <button *ngIf="showHide.map" class="btn btn-primary" (click)="mapSearch()">Search Map</button> {{searchStr}}

  <div *ngIf="showHide.map" class="row">
    <div class="col-md-12 col-sm-5 my-1">
      <button type="button" class="btn btn-secondary">
        Load Count {{selectedTarget.loadCount}} <br>
        <span class="badge badge-warning">{{selectedTarget.loadCount}} @ $0.002 = ${{(selectedTarget.loadCount * 0.002).toFixed(3)}}</span>
      </button>
       &nbsp; &nbsp; 
      <button type="button" class="btn btn-secondary">
        Search Count {{selectedTarget.searchCount}} <br>
        <span class="badge badge-warning">{{selectedTarget.searchCount}} @ $0.005 = ${{(selectedTarget.searchCount * 0.017).toFixed(3)}}</span>
      </button>
    </div>
<!--
  <iframe *ngIf="showHide.iframe" src="{{getIframeUrl()}}"></iframe>
  -->



</div>

<div>
  <div  [ngStyle]="{'display': showHide.map ?'block': 'none'}" id="map2">Waiting...</div>
</div>
<!--
<div id="staticMap">
  <h2>Static Map using Secret Key</h2>
  <img src="https://maps.googleapis.com/maps/api/staticmap?{{ staticMapString }}">
</div>
-->
